<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80663940915-lpi1u5605adqmckb5ccid7m5dhnd0cvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80663940915-lpi1u5605adqmckb5ccid7m5dhnd0cvt</string>
	<key>API_KEY</key>
	<string>AIzaSyBNjZySAzp3K_YHTaAB0-EAObXymkEGlr4</string>
	<key>GCM_SENDER_ID</key>
	<string>80663940915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miketsai.MapMemo</string>
	<key>PROJECT_ID</key>
	<string>mapmemo-17e75</string>
	<key>STORAGE_BUCKET</key>
	<string>mapmemo-17e75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80663940915:ios:acf3117ec2a4927be93846</string>
</dict>
</plist>